{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    </head>
    <body>
        <div class="container">
            <div class="inp">
                <img src="" id="img_tar" width="236px" height="248px" />
                <input type="file" id="input_image" hidden name="input_image" />
                {% csrf_token %}
                <label for="input_image">Chọn ảnh</label>
            </div>
            <div class="process">
                <button id="process">Xử lý</button>
                <div id="111" style="display: none" class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="out">
                <img
                    src=""
                    alt=""
                    id="out_image"
                    width="496px"
                    height="472px"
                />
                <h1>Kết quả</h1>
            </div>
        </div>
        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>
